@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito:700,400);

html {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: #000;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 150px;
  text-align: center;
  margin-top: calc(50vh - 150px / 2);
}
a {
  text-decoration: none;
  color: #fff;
  animation: shake 0.1s ease infinite;
  -webkit-animation: shake 0.1s ease infinite;
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(3px, 2px) rotate(0deg); }
  10% { -webkit-transform: translate(-2px, -3px) rotate(-1deg); }
  20% { -webkit-transform: translate(-4px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 3px) rotate(0deg); }
  40% { -webkit-transform: translate(2px, -2px) rotate(1deg); }
  50% { -webkit-transform: translate(-2px, 3px) rotate(-1deg); }
  60% { -webkit-transform: translate(-4px, 2px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 2px) rotate(-1deg); }
  80% { -webkit-transform: translate(-2px, -2px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 4px) rotate(0deg); }
  100% { -webkit-transform: translate(2px, -3px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(3px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -3px) rotate(-1deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 3px) rotate(-1deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -3px) rotate(-1deg); }
}